.button{
    padding: 10px 20px;
    background: var(--green-c);
    color: var(--preto-c);
    border-radius: 9px;
}
.modal{
    position: absolute;
    bottom: 4rem;
    display: flex;
    gap: 2rem;
    font-size: var(--small-sz);
    color: var(--branco-c);
    background: #12121298;
    padding: 3rem 2rem;
    border-radius: var(--border-r);
}
.star{
    position: absolute;
}
.front{
    color: #FF8282;
}
.back{
    color: #8E84FF;
}
.full{
    color: #FFFA78;
}
.contact-links{
    background: var(--green-c);
    border-radius: var(--border-r);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--preto-c);
    font-weight: 600;
}