.button{
    padding: 10px 20px;
    background: var(--green-c);
    color: var(--preto-c);
    border-radius: 9px;
}
.modal{
    position: absolute;
    bottom: 4rem;
    display: flex;
    gap: 2rem;
    font-size: var(--small-sz);
    color: var(--branco-c);
    background: #12121298;
    padding: 3rem 2rem;
    border-radius: var(--border-r);
}
.title{
    font-size: 2.5rem;
}
.star{
    position: absolute;
}
.front{
    color: #FF8282;
}
.back{
    color: #8E84FF;
}
.full{
    color: #FFFA78;
}
.contact-links{
    background: var(--green-c);
    border-radius: var(--border-r);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--preto-c);
    font-weight: 600;
    font-size: var(--normal-sz);
    gap: 1rem;
    justify-content: center;
}
.portifolio-card{
    display: flex;
    flex-direction: column ;
    padding: 2rem;
    border-radius: var(--border-r);
    border: var(--green-c) 1px solid;
    width: 38rem;
    height: 41.2rem;
}