:root{
    --green-c: #9EFF85;
    --preto-c: #121212;
    --cinza-c: #252525;
    --branco-c: #ffffff;

    --small-pad: ;

    --big-sz: 4rem;
    --normal-sz: 1.5rem;
    --small-sz: 1.3rem;

    --bold: 600;

    --border-r: 1.2rem;
}

a{
    text-decoration: none;
    color: var(--branco-c);
}

.flex{
    display: flex;
}
.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.f-center {
    justify-content: center;
    align-items: center;
}

.a-center{
    align-items: center;
}

.j-between{
    justify-content: space-between;
}

.j-around{
    justify-content: space-around;
}
.t-center{
    text-align: center;
}

::-webkit-scrollbar{
    background-color: var(--preto-c);
    width: 3px;
}
::-webkit-scrollbar-thumb{
    background: var(--green-c);
    border-radius: 12px;
}