*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-decoration: none;
    border: none;
}
html{
    font-size: 60.3%;
}
body{
    position: relative;
}
/*  Cabeçalho */
header{
    position: absolute;
    padding: 3rem 6rem;
    width: 100%;
    z-index: 1000;
}
.logo-container{
    width: 4%;
}
.logo-container img{
    width: 100%;
}
.menu{
    gap: 3rem;
    font-size: var(--normal-sz);
    font-weight: var(--bold);
}


/* */
.hero{
    position: relative;
    height: 100vh;
    background: radial-gradient(circle, var(--cinza-c) 0%, var(--preto-c) 55%);
}
.hero-text{
    color: var(--branco-c);
    font-size: var(--big-sz);
}
text{
    color: var(--green-c);
}
.modal-icon{
    width: 2.5rem;
}

.star:nth-child(3) {
    top: 100px;
    right: 300px;
}

.star:nth-child(4) {
    bottom: 150px;
    left: 200px;
}

.star:nth-child(5) {
    bottom: 50px;
    right: 250px;
}

.content{
    background: linear-gradient(0deg, rgba(37,37,37,1) 0%, rgba(18,18,18,1) 24%);
}
.content p{
    font-size: var(--mid-sz);
}


.apresentacao{
    width: 70%;
    padding-top: 15rem;
    gap: 10.6rem;
    height: 100vh;
}
.myphoto{
    width: 48rem;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-r);
}
.texto-apresentacao{
    color: var(--branco-c);
}
.texto-apresentacao h1{
    font-size: var(--big-sz);
    font-weight: 500;
}
.i-do{
    color: var(--green-c);
    font-style: italic;
    padding: 2rem;
    max-width: 100%;
}
.social-link-area{
    gap: 4.4rem;
}

.portifolio{
    padding: 5rem;
    padding-top: 15rem;
    color: var(--branco-c);
    width: 80%;
}
.portifolio h1{
    margin: 2rem;
}
.portifolio-card img{
    width: 26.9rem;
    height: 28.9rem;
    border-radius: 0.5rem;
    object-fit: cover;
}
.slider-wrapper{
    margin: 2rem;
    width: 100%;
}
.portifolio-card p{
    font-size: var(--small-sz);
}



footer{
    color: var(--branco-c);
    padding: 2rem;
    padding-bottom: 0.9rem;
    background: var(--preto-c);
}
.contact-links-area{
    gap: 1rem;
    padding-bottom: 5rem;
}
.footer-text{
    font-size: 1.8rem;
    margin: 2rem;
}
.creditos{
    width: 100%;
    border-top: var(--green-ct) 1px solid;
    padding-top: 1rem;
    text-align: left;
}